@import "file";
@import "_path/to/file";
@import "some.css";

// Variables
$variable: 10px;
$box-shadow: 0 0 0 1px #5b9dd9,
  0 0 2px 1px rgba(30, 140, 190, 0.8);
$sum: 10px + 10px;
$long-sum: 100px + 100px + 100px + 100px + 100px + 100px -
  8000px * 2px / 4px;

@function my-calculation-function($some-number, $another-number) {
  @return $some-number + $another-number;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  box-shadow: $top $left $blur $color unquote($inset);
}

%some-placeholder {
  display: flex;
}

.class-one {
  &.foo {
    display: block; // Inline-comment
  }

  .foo > & {
    display: block;
  }
}

.class-two {
  &,
  .foo,
  .bar {
    margin: 0;
  }
}

.class-three {
  + .foo {
    display: block;
  }
}

.class-with-mixin {
  @include mixin-name();
  width: 10px * 10;
}
